/.classpath
/.project
/.settings/.jsdtscope
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.m2e.core.prefs
/.settings/org.eclipse.wst.common.component
/.settings/org.eclipse.wst.common.project.facet.core.xml
/.settings/org.eclipse.wst.jsdt.ui.superType.container
/.settings/org.eclipse.wst.jsdt.ui.superType.name
/.settings/org.maven.ide.eclipse.wtp.prefs
/target/classes/org/banka/ws/ws/schema/nalogzaplacanje/NalogZaPlacanjeRequest.java
/target/classes/org/banka/ws/ws/schema/nalogzaplacanje/NalogZaPlacanjeResponse.java
/target/classes/org/banka/ws/ws/schema/nalogzaplacanje/ObjectFactory.java
/target/classes/org/banka/ws/ws/schema/nalogzaplacanje/package-info.java
/target/classes/org/banka/ws/ws/schema/proverastanja/ObjectFactory.java
/target/classes/org/banka/ws/ws/schema/proverastanja/ProveraStanjaRequest.java
/target/classes/org/banka/ws/ws/schema/proverastanja/ProveraStanjaResponse.java
/target/classes/org/banka/ws/ws/schema/proverastanja/package-info.java
/target/classes/org/firma/client/controller/MainController.class
/target/classes/org/firma/client/oxm/nalogzaplacanje/NalogZaPlacanjeRequest.class
/target/classes/org/firma/client/oxm/nalogzaplacanje/NalogZaPlacanjeResponse.class
/target/classes/org/firma/client/oxm/nalogzaplacanje/ObjectFactory.class
/target/classes/org/firma/client/oxm/nalogzaplacanje/package-info.class
/target/classes/org/firma/client/oxm/proverastanja/ObjectFactory.class
/target/classes/org/firma/client/oxm/proverastanja/ProveraStanjaRequest.class
/target/classes/org/firma/client/oxm/proverastanja/ProveraStanjaResponse.class
/target/classes/org/firma/client/oxm/proverastanja/package-info.class
/target/classes/org/firma/client/service/FirmaClientService.class
/target/classes/org/firma/client/service/impl/FirmaClientServiceImpl.class
/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
/target/m2e-wtp/web-resources/META-INF/maven/org.firma.ws/client-ws/pom.properties
/target/m2e-wtp/web-resources/META-INF/maven/org.firma.ws/client-ws/pom.xml
/target/m2e-wtp/web-resources/META-INF/maven/org.firma.ws/client/pom.properties
/target/m2e-wtp/web-resources/META-INF/maven/org.firma.ws/client/pom.xml
